html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop_shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of_type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.image-container {
  /* This part is already in your inline style and is fine */
  /* width: 100%; */
  height: 100vh; /* You must define a fixed height for the container */
  position: relative; /* Useful for absolute positioning later if needed */
  overflow: hidden; /* Ensures the image is clipped if it overflows */
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  position: absolute;
}

h1 {
  font-size: 3em;
  line-height: 1;
  color: rgba(222, 139, 72, 0.932);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.749);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h3 {
  font-size: 2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.605);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p {
  font-size: 1em;
  line-height: 0.8;
  color: rgba(255, 255, 255, 0.605);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button {
  background-color: #4f594881;
  border: 1px solid #755b12;
  padding: 0px 15px;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  border-radius: 55px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9374374c;
  border-color: #f2a128;
  scale: 1.05;
}

button:focus {
  outline: none;
}

li {
  font-size: 1.2em;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li::before {
  /* Unicode for a bullet point */
  color: #0c0c0f; /* Color of the bullet point */
}

li:hover {
  color: #d55f24; /* Color of the text on hover */
}
li:focus {
  outline: none;
  color: #d55f24; /* Color of the text on focus */
}

li a {
  color: inherit; /* Inherit color from parent li */
  text-decoration: none;
}

li a:visited {
  color: inherit; /* Keep the same color for visited links */
}

li a:hover {
  color: inherit; /* Inherit the hover color from parent li */
}

.map-button {
  background-color: #4f594881;
  border: none;
  padding: 10px 10px;
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.711);
  cursor: pointer;
  border-radius: 55px;
  transition: background-color 0.3s ease;
  margin: 0px;
  border: 1px solid #755b12;
  border-color: #836d2d;
  width: 115px;
  height: 80px;
}

.map-button:active {
  background-color: #d55f24;
}
.map-button:hover {
  background-color: #9374374c;
  border-color: #d55f24;
}
.map-button:focus {
  outline: none;
}

.button-icon {
  width: 50px;
  height: auto;
  margin-left: 0px;
  vertical-align: middle;
}

.active-button {
  background-color: #b98f3a89;
  border-color: #f2a128;
  scale: 1.1;

  transform: background-color 0.3s ease, scale 0.1s ease;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 2 px solid rgba(67, 70, 46, 0.9);
  justify-content: space-between;
  align-items: stretch;
  border-radius: 8px;
  background-color: rgba(87, 91, 58, 0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.151);
  width: 60%;
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid #ed9614;
  border-radius: 4px;
  background-color: #565c24e5;
  color: white;
  align-self: flex-end;
}

.login-form button {
  padding: 0.5rem;
  border: 1px solid #ff8800;
  border-radius: 4px;
  background-color: #ff7b006f;
  transition: transform 0.3s ease;
  color: white;

  cursor: pointer;
}
.login-form button:hover {
  background-color: rgba(222, 139, 72, 0.932);
  transform: scale(1.01);
}
.login-form label {
  color: white;
  font-size: 1rem;
  padding: 1rem;
}
.login-form label input {
  color: white;
  background-color: #565c2435;
  font-size: 1rem;
  padding: 1rem;
}
.login-form .error {
  color: red;
  margin-bottom: 1rem;
}
